<ul class="linkList">
  <li>
    <a href="https://github.com/Contagiovaneines">
      <div class="icon-container">
        <i class="fab fa-github"></i>
      </div>
      <span>Github</span>
    </a>
  </li>
  <li>
    <a href="https://www.linkedin.com/in/giovane-ines/">
      <div class="icon-container">
        <i class="fab fa-linkedin"></i>
      </div>
      <span>LinkedIn</span>
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/giovane_ines">
      <div class="icon-container">
        <i class="fab fa-instagram"></i>
      </div>
      <span>Instagram</span>
    </a>
  </li>
</ul>
