<div class="wrapper">
  <main class="content">
    <div id="stars1"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>
    <div class="userInfo">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQH7900N6rmHhA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1681684022510?e=1743638400&v=beta&t=Wn_SXgwfcCB0RTJky_AoDLGyS6_hliU7VckB6oCcraY" alt="Perfil de Giovane Ines da Silva">
      <h1>Giovane Ines da Silva</h1>
      <p>Bem-vindo à página oficial de Giovane. Explore meu trabalho e minhas experiências.</p>
    </div>
    <app-links></app-links>
  </main>

  <footer>Desenvolvido por Giovane Ines</footer>
</div>
