.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  position: relative;
  background: linear-gradient(0deg, rgba(244, 244, 244, 1) 0%, rgb(7, 7, 7) 0%, rgba(0, 52, 255, 1) 100%);
  overflow: hidden;
}

.content {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 64px 16px 32px;
  position: relative;
  z-index: 1;
}

.userInfo {
  position: relative;
  z-index: 2;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

h1 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

footer {
  padding: 24px 0;
  font-size: 12px;
  color: #373737;
  z-index: 2;
}
